*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


:root{
    font-size: 62.5%;
}

body {
   
    font-size: 1.6rem;
    
}

.cabeça{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logo{
    
    width: 25%;
    height: 50%;
    margin-left: 1rem;
    padding-left: 3rem;
}

    

img{
    border-radius: 60px;
    
}

.nav-list ul {
    display: flex;
    list-style: none;
    gap: 10rem;
    margin-right: 40rem;
}

.nav-list ul li a {
    color:antiquewhite;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: larger;
}


.nav-list ul li a:hover {
    transform: scale(1.2);
    color: red;
}

.nav-login ul li{
    list-style: none;
    font-weight: bold;
    background-color: rgb(231, 86, 195);
    border-radius: 2rem;
    transition: transform .2s;
    margin: 2rem;
    margin-right: 10rem;
    
}

.nav-login ul li a{
    color: white;
    padding: 1.3rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.nav-login ul li:hover{
    transform: scale(1.2);
}


body {
    background: linear-gradient(-120deg, #481875, #11031f);
    
}

body,
textarea {
    font-family: sans-serif;
    margin-bottom: 25rem;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}


.form_box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    width: 700px;
}

.form_box .title {
    padding: 24px 32px;
    font-size: 24px;
    border-bottom: thin solid #ccc;
}

.form_box form {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 32px;
}

.form_box input,
.form_box textarea {
    width: calc(50% - 8px);
    height: 48px;
    border-radius: 8px;
    border: thin solid #999;
    padding-left: 16px;
    margin-bottom: 16px;
    font-size: 16px
}

.form_box input:first-child {
    margin-right: 16px;
}

.form_box input[name=subject] {
    width: 100%;
}

.form_box textarea {
    width: 100%;
    height: 180px;
    padding: 12px;
}

.form_box button {
    display: block;
    border: none;
    outline: none;
    width: 180px;
    height: 48px;
    border-radius: 8px;
    background-color: #6915b8;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form_box button:hover{
    background-color: #571199;
}




.rodape{
    color: white;
    display: block;
    text-align: center;
    
}

.link ul{
    margin-bottom: 0.5rem;
    
}

.pe{
    font-size: smaller;
    
    margin-bottom: 0.1rem;
    margin-top: 1rem;
}

.rede{
    font-size: larger;
    
        
}

a {
    color: white;
    
}

.creditos{ 
    font-size: smaller;
    
    margin-top: 0.1rem;
}