/* 
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: purple;
    ;
}



.logo{
    
    width: 25%;
    height: 50%;
    
}

.logo{
    
    width: 25%;
    height: 50%;
    
}
img{
    border-radius: 60px;
}

.nav-list ul li {
    
    display: inline-flex;
    padding: 3px 50px;
}

.nav-list ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: larger;
}

.nav-list ul li a:hover {
    transform: scale(1.2);
    color: red;
}

header {
    display: flex;
    padding: 50px;
    margin-bottom: 1px;
}

*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body {
    background-image: url(./imagensbg/bg3.jpeg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size:cover;
    background-position:left;
    font-size: 1.6rem;
    
}

.cabeça{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logo{
    
    width: 25%;
    height: 50%;
    margin-left: 1rem;
    padding-left: 3rem;
}

    

img{
    border-radius: 60px;
    
}

.nav-list ul {
    display: flex;
    list-style: none;
    gap: 10rem;
    margin-right: 40rem;
}

.nav-list ul li a {
    color:antiquewhite;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: larger;
}


.nav-list ul li a:hover {
    transform: scale(1.2);
    color: red;
}

.nav-login ul li{
    list-style: none;
    font-weight: bold;
    background-color: rgb(231, 86, 195);
    border-radius: 2rem;
    transition: transform .2s;
    margin: 2rem;
    margin-right: 10rem;
    
}

.nav-login ul li a{
    color: white;
    padding: 1.3rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.nav-login ul li:hover{
    transform: scale(1.2);
}


/*inicio do footer*/

.rodape{
    color: white;
    display: block;
    text-align: center;
    
}

.link ul{
    margin-bottom: 0.5rem;
    
}

.pe{
    font-size: smaller;
    
    margin-bottom: 0.1rem;
    margin-top: 1rem;
}

.rede{
    font-size: larger;
    
        
}

a {
    color: white;
    
}

.creditos{ 
    font-size: smaller;
    
    margin-top: 0.1rem;
}    

/* incicio do main */

main{
    margin: 100px;
    margin-top: 20px;
    
}



h1{
    margin: 50px;
    margin-left: 600px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    margin-top: 20px;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;

}


.html {
    margin-left: 350px;
}

.img1{
    margin-left: 250px;
    margin-top: 20px;
}

.css {
    margin-left: 1000px;
    margin-bottom: 20px;
}

.img2{
    margin-left: 830px;

}

.javascript {
    margin-left: 300px;
}

.img3{
    margin-left: 240px;
    margin-top: 20px;
}

.java {
    margin-left: 980px;
    margin-bottom: 20px;
}

.img4{
    margin-left: 830px;

}