/*--  -> copiar para todos --*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body {
    background-image: url(./imagens/menina.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-size:cover;
    background-position:left;
    font-size: 1.6rem;
    
}

.cabeça{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logo{
    
    width: 25%;
    height: 50%;
    margin-left: 1rem;
    padding-left: 3rem;
}

    

img{
    border-radius: 60px;
    
}

.nav-list ul {
    display: flex;
    list-style: none;
    gap: 10rem;
    margin-right: 40rem;
}

.nav-list ul li a {
    color:antiquewhite;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: larger;
}


.nav-list ul li a:hover {
    transform: scale(1.2);
    color: red;
}

.nav-login ul li{
    list-style: none;
    font-weight: bold;
    background-color: rgb(231, 86, 195);
    border-radius: 2rem;
    transition: transform .2s;
    margin: 2rem;
    margin-right: 10rem;
    
}

.nav-login ul li a{
    color: white;
    padding: 1.3rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.nav-login ul li:hover{
    transform: scale(1.2);
}


/*-- MAIN --*/


.container{
    margin: 3rem;
    
}

.center {
    display: block;
}
h1{
    font-size: 400%; 
    margin-left: 4rem;   
    padding: 1rem;
    color: black;
    margin-bottom: 6rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

h1 span {
    
    font-size: 200%;
    color: rgb(238, 24, 95);
    font-weight: bold;
    margin: 8rem;
    font-family:'Times New Roman', Times, serif;
    
}

.glass{
    
    width: 800px;
    height: 150px;
    background: transparent;
    box-shadow: 0 25px 45px black;
    border-radius: 50px;
    border: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    backdrop-filter: blur(10px);
    
    
}

p{
    margin: 5rem;
    padding: 2rem;
    font-size: larger;
    font-weight: 100;
    font-weight: bold;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}
    
button {
    
    display: flex;
    justify-content: center;
    place-items: center;
    width: 15rem;
    height: 50%;
    background:  rgb(35, 204, 57);
    font-size: larger;
    font-weight: bold;
    border-radius: 4rem;
    margin-left: 40rem;
    transition: transform .2s;
}

.btn:hover{
    transform: scale(1.3);

}





/*-- FOOTER -> copiar para todos --*/


.rodape{
    color: white;
    display: block;
    text-align: center;
    
}

.link ul{
    margin-bottom: 0.5rem;
    
}

.pe{
    font-size: smaller;
    
    margin-bottom: 0.1rem;
    margin-top: 1rem;
}

.rede{
    font-size: larger;
    
        
}

a {
    color: white;
    
}

.creditos{ 
    font-size: smaller;
    
    margin-top: 0.1rem;
}