*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: purple;
    ;
}



.logo{
    
    width: 25%;
    height: 50%;
    
}

.logo{
    
    width: 25%;
    height: 50%;
    
}
img{
    border-radius: 60px;
}

.nav-list ul li {
    
    display: inline-flex;
    padding: 3px 50px;
}

.nav-list ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    font-size: larger;
}

.nav-list ul li a:hover {
    transform: scale(1.2);
    color: red;
}

header {
    display: flex;
    padding: 50px;
    margin-bottom: 1px;
}


/*inicio do footer*/

footer{
    color: white;
    display: block;
    text-align: center;
    margin-top: 5rem;
    margin-left: 9rem;
}

.link ul{
    margin-bottom: 20px;
    
}

.pe{
    font-size: smaller;
    
    margin-bottom: 0px;
    margin-top: 10px;
}

.rede{
    font-size: larger;
    
    margin-top: 1px;
    
}

a {
    color: white;
    
}

.creditos{ 
    font-size: smaller;
    
    margin-top: 10px;
    margin-bottom: 1px;
}



/* inicio da main*/

h1{
    margin: 50px;
    margin-left: 780px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 300%;
    margin-top: 1px;
}

.curso-html {
    margin: 50px;
    margin-left: 800px;
    font-size: 230%;
    margin-bottom: 10px;
    
}

.tumblr1 {
    margin: 2px;
    margin-left: 650px;
    margin-bottom: 5px;
    width: 25%;
}

.p1 {
    margin-top: 15px;
    margin-left: 560px;

}

.link1{
    margin: 820px;
    margin-bottom: 10px;
}

.curso-css {
    margin: 60px;
    margin-left: 810px;
    font-size: 230%;
    margin-bottom: 10px;
    
}

.tumblr2 {
    margin: 2px;
    margin-left: 610px;
    margin-bottom: 10px;
    
}

.p2 {
    margin-top: 15px;
    margin-left: 470px;

}

.link2{
    margin: 820px;
    margin-bottom: 30px;
}

.curso-javascript {
    margin: 60px;
    margin-left: 750px;
    font-size: 230%;
    margin-bottom: 10px;
    
}

.tumblr3 {
    margin: 2px;
    margin-left: 600px;
    margin-bottom: 10px;
    
}

.p3 {
    margin-top: 15px;
    margin-left: 470px;

}

.link3{
    margin: 820px;
    margin-bottom: 30px;
}

.curso-java {
    margin: 60px;
    margin-left: 800px;
    font-size: 230%;
    margin-bottom: 10px;
    
}

.tumblr4 {
    margin: 2px;
    margin-left: 580px;
    margin-bottom: 10px;
    width: 33rem;
}

.p4 {
    margin-top: 10px;
    margin-left: 450px;
    
}

.link4{
    margin: 820px;
    margin-bottom: 50px;
}

